<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main.dao.DataMapper" >

    <select id="selectDataByCutom" resultType="main.pojo.DataVo">
        SELECT
          corp1.BUILD_NAME,
          corp1.DEVELOP_COMPANY,
          corp1.BUILD_ADDRESS,
          corp1.DISTRICT_NAME,

          t.ALIAS,
          t.LOCATION_LNG,
          t.LOCATION_LAT,
          t.START_TIME,
          t.END_TIME,
          t.USED_TIME,
          t.GREEN_RATE,
          t.VOLUM_RATE,
          t.MANAGE_FEE,
          t.AVRAGE_PRICE,
          t.BUILD_AREA,
          t.PARK_SPACE,
          t.BUILD_INFO,
          t.RELATIVE_INFO,
          t.FLOOR_NAME,
          t.BUILD_LOCATION,
          t.FOOT_AREA,
          t.UNIT_NAME,
          t.ROOM_NAME,
          t.SUIT_PNG,
          t.BUILD_PNG,
          t.USAGE_MUL,
          t.ROOM_STRUCT,
          t.ROOM_AREA,
          t.SUIT_AREA,
          t.DISP_AREA
        FROM
          (SELECT
            middle.ALIAS,
            middle.LOCATION_LNG,
            middle.LOCATION_LAT,
            middle.START_TIME,
            middle.END_TIME,
            middle.USED_TIME,
            middle.GREEN_RATE,
            middle.VOLUM_RATE,
            middle.MANAGE_FEE,
            middle.AVRAGE_PRICE,
            middle.BUILD_AREA,
            middle.PARK_SPACE,
            middle.BUILD_INFO,
            middle.RELATIVE_INFO,

            xzdetail.FLOOR_NAME,
            xzdetail.BUILD_LOCATION,
            xzdetail.FOOT_AREA,
            xzdetail.UNIT_NAME,
            xzdetail.ROOM_NAME,
            xzdetail.SUIT_PNG,
            middle.BUILD_PNG,
            xzdetail.USAGE_MUL,
            xzdetail.ROOM_STRUCT,
            xzdetail.ROOM_AREA,
            xzdetail.SUIT_AREA,
            xzdetail.DISP_AREA,
            middle.corpID,
            middle.BUILD_NAME
          FROM
            xzdetail
            LEFT JOIN middle
              ON xzdetail.item_id = middle.item_id) t
          LEFT JOIN corp1
            ON t.corpID = corp1.corpID
            AND t.BUILD_NAME = corp1.BUILD_NAME
        WHERE corp1.DISTRICT_NAME = '鼓楼区'
    </select>
  <select id="selectfzDataByCutom" resultType="main.pojo.FzDataVo">
    SELECT
      district.CITY_NAME,
      district.DISTRICT_NAME,
      district.COMMUNITY_NAME,
      itemlist.ADDRESS,
      itemlist.BUILD_NAME,
      itemlist.DOOR_NAME,
      itemlist.UNIT_NAME,
      itemlist.ROOM_NAME,
      itemlist.JURIS,
      itemlist.POLICE,
      itemlist.BUILD_POINT_LAT,
      itemlist.BUILD_POINT_LNG
    FROM itemlist
    LEFT JOIN district
    ON itemlist.SYSTEM_ID = district.SYSTEM_ID
    LIMIT 3600000,600000
  </select>
</mapper>