<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main.dao.HosMapper" >

    <select id="selectHosByCutom" resultType="main.pojo.HospitalFamilyVo">
        SELECT
            hos_family.PROVINCE,
            hos_family.CITY,
            hos_family.HOSPITAL_NAME,
            hos_detail.POINT_LAT,
            hos_detail.POINT_LNG,
            hos_detail.ADDRESS,
            hos_detail.TEL,
            hos_detail.TYPE,
            hos_detail.RATE,
            hos_detail.LINK,
            hos_detail.IS_HOS,
            hos_detail.NATURE
        FROM
            hos_detail
        LEFT JOIN hos_family ON hos_detail.NUM = hos_family.NUM
    </select>

</mapper>